# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
build/*
*.egg-info

/.project
/.pydevproject
/.settings/

/settings/*
!/settings/example.config.yml
/out/

/*.pdf
/*.PDF
/*.csv
/*.CSV